/* animation for zooming */
@keyframes zoomingAnimation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
/* animation for  left moving */
@keyframes leftMovingAnimation {
  0% {
    margin-left: 0rem;
  }

  50% {
    margin-left: 1rem;
  }

  100% {
    margin-left: 0rem;
  }
}
/* style */
.coming_soon_section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
}
.coming_soon_title {
  font-size: 5rem !important;
  font-weight: 1000;
  /* color for coming soon big text */
  color: palevioletred;
  animation-name: zoomingAnimation;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  font-family: "Dosis", sans-serif;
  padding: 0 0.2rem;
}
.coming_soon_text {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-family: "Dosis", sans-serif;
}
.btn {
  font-family: "Dosis", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  text-transform: uppercase;
  animation-name: leftMovingAnimation;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  /* return to home color */
  background-color: green !important;
  color: white !important;
}

@media screen and (max-width: 991px) {
  .notFound_title {
    font-size: 5rem !important;
  }
}
@media screen and (max-width: 767px) {
  .notFound_title {
    font-size: 3rem !important;
  }
}
